#variable comunes mysql
#x-common-mysql: &common-mysql

#varaibles comunes microservicios implementan mysql
x-common-cliente: &common-cliente
  #<<: *common-mysql
  environment:
    COSAS: "8080"
  depends_on:
    - discovery-service

services:
  db_mysql:
    container_name: db_mysql_container
    image: mysql:8.0
    ports:
      - "${SERVICE_MYSQL_PORT}:${SERVICE_MYSQL_PORT}"
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASS_MAIN_DEV}
      - MYSQL_DATABASE=${SERVICE_MYSQL_DATABASE}
      - MYSQL_ALLOW_EMPTY_PASSWORD=no
    volumes:
      - mysql_data:/var/lib/mysql # â† Volumen Nombrado
  discovery-service:
    container_name: discovery-service-container
    image: discovery-service-image
    build:
      context: .
      dockerfile: descubridor-servicio/Dockerfile
    ports:
      - "${DISCOVERY_SERVICE_PORT}:${DISCOVERY_SERVICE_PORT}"
    environment:
      - SERVER_PORT=${DISCOVERY_SERVICE_PORT}
  employee-service:
    <<: *common-cliente
    container_name: employee-service-container
    image: employee-service-image
    build:
      context: .
      dockerfile: trabajador-servicio/Dockerfile
    ports:
      - "${EMPLOYEE_SERVICE_PORT}:${EMPLOYEE_SERVICE_PORT}"
    environment:
      - SERVER_PORT=${EMPLOYEE_SERVICE_PORT}
      - DISCOVERY_SERVER_URL=${DISCOVERY_SERVICE_EXTERNAL_URL}
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL_EMPLOYEE}
      - SPRING_DATASOURCE_USERNAME=${MYSQL_USER_MAIN_DEV}
      - SPRING_DATASOURCE_PASSWORD=${MYSQL_PASS_MAIN_DEV}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=${DDL_AUTO}
      - SPRING_JPA_SHOW_SQL=${SHOW_SQL}
      - SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=${DIALECT}
  inventory-stock-service:
    container_name: inventary-stock-service-container
    image: inventary-stock-service-image
    build:
      context: .
      dockerfile: inventario-stock-servicio/Dockerfile
    ports:
      - "${INVENTORY_SOTCK_SERVICE_PORT}:${INVENTORY_SOTCK_SERVICE_PORT}"
    environment:
      - SERVER_PORT=${INVENTORY_SOTCK_SERVICE_PORT}
      - DISCOVERY_SERVER_URL=${DISCOVERY_SERVICE_EXTERNAL_URL}
    depends_on:
     - discovery-service
     - employee-service

  api-gateway:
    container_name: api-gateway-container
    image: api-gateway-image
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    ports:
      - "${API_GATEWAY_SERVICE_PORT}:${API_GATEWAY_SERVICE_PORT}"
    environment:
      - SERVER_PORT=${API_GATEWAY_SERVICE_PORT}
      - DISCOVERY_SERVER_URL=${DISCOVERY_SERVICE_EXTERNAL_URL}
    depends_on:
    # por cada microservicio cliente que se conecte a la API gateway, se debe agregar una dependencia
      - discovery-service
      - employee-service
      - inventory-stock-service
volumes:
  mysql_data:

